---
import { playlists } from "@/lib/data";
import Layout from "../layouts/Layout.astro";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <div class="relative z-10 px-6">
        <h1 class="">Buenos dias</h1>
        {playlists.map(playlist=> <PlayListItemCard playlist = {playlist}/>)}
    </div>
  </div>
</Layout>
<style></style>
